body{
  background-image: url(imgs/black.jpg);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
}
.box{
  display: block;
  margin: auto;
  width: 50%;
  opacity: 1;
  border: 1px;
  border-style: solid;
  background-color: #DCDCDC;
  opacity: .9;


}
input{
  margin-top: 20px;
  background-color: white;
}
.add{
  margin-top: 20px;
  width: 135px;
}


input[type=text]{
  background-color: white;
  opacity: 1;
}
h2{
  color: white;
}
p{
  display: block;
}
#info{
  position: fixed;
  bottom: 0;
  /* border-style: dotted;
  border-color: black; */
  display: inline-block;
  background-color: none;
  color: white;
}
#info1{
  position: fixed;
  display: block;
  bottom: 0;
  background-color: none;
  color: white;
}
